<footer>
	<img src="{{site.baseurl}}/img/footer.png" alt="">
	<div class="footer-data">
		<nav class="footer-nav">
			<a href="{{site.baseurl}}/about/">about</a>
			<a href="{{site.baseurl}}/">Contact</a>
			<a href="{{site.baseurl}}/">Press</a>
			<a href="{{site.baseurl}}/">Career</a>
			<a href="{{site.baseurl}}/">Privacy Policy</a>
			<a href="{{site.baseurl}}/">Terms and Conditions</a>	
		</nav>
		<address>61, Heramb Apartment, Sheelavihar Colony, Karve Road, Kothrud, Pune, Maharashtra 411038.
		</address>
		<h3 class="design">Website by Bhingry</h3>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>