<header>
	<div class="social-media-strip">
		<ul>
			<li class="behance"><a href="#behance">Behance</a></li>
			<li class="insta"><a href="#insta">Instagram</a></li>
			<li class="fb"><a href="#fb">Facebook</a></li>
			<li><img src="img/followus.png"></li>
		</ul>

	</div>
	<div class="top-nav">
		<a href="{{site.url}}"><img src="{{site.baseurl}}/img/karwak_logo.png" alt="karwak-logo" class="logo"></a>
		<button type="button" class="burger js-menu-trigger sliding-panel-button"></button>
		<nav class="js-menu sliding-panel-content">
			<ul>
				<li><a href="{{site.baseurl}}" class="panel-logo">Logo</a></li>
				<li><a href="{{site.baseurl}}/about/" class="about">About</a></li>
				<li><a href="{{site.baseurl}}/team/" class="team">Team</a></li>
				<li><a href="{{site.baseurl}}/services/" class="services">Services</a></li>
				<li><a href="{{site.baseurl}}/products/" class="products">Products</a></li>
				<li><a href="{{site.baseurl}}/blog/" class="blog">Blog</a></li>
				<li><a href="{{site.baseurl}}/contact/" class="contact">Contact</a></li>
					
			</ul>
		</nav>
	</div>
</header>
