<div class="cover-slider">
       <div class="slide1">
          <div class="intro-text large-12 columns">
            <p>Lorem ipsum.<br>Lorem ipsum dolor.</p>
          </div>
        </div>
        <div class="slide2">
          <div class="intro-text large-12 columns">
            <p>Praesentium, corrupti!<br>Commodi libero, velit.</p>
          </div>
        </div>
        <div class="slide3">
          <div class="intro-text large-12 columns">
            <p>Ad, hic.<br>Laboriosam ad, sit.</p>
          </div>
        </div>
</div>