/* .slick-prev:before, .slick-next:before{
        font-family: sans-serif;
        padding-top: 1.125em;
      }
    /*  .slick-prev:before{
      background: url('../pngs/left-angle.png') no-repeat;
      }
 */  
    .cover-slider {
      width: 100%;
    }

    .cover-slider .slide1 {
      background: url('../../img/slider/slide1.png') no-repeat;
    }

    .cover-slider .slide2 {
      background: url('../img/slider/slide2.png') no-repeat;
    }
    .cover-slider .slide3 {
      background: url('../img/slider/slide3.png') no-repeat;
    }